.custom-line-spacing {
    line-height: 1.5;
}


.container-Founders {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f4ce14
}

.container-Photo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-Founderstext {
    text-align: left;
    margin-left: 250px;
}

.place {
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .container-Founders {
        flex-direction: column;
        align-items: center;
        /* Center items horizontally */
        text-align: center;
    }

    .container-Founderstext,
    .container-Photo {
        flex: 1;
        margin-right: 0;
        text-align: center;
        padding: 10px;
        width: 100%;
        /* Make text and image take up full width */
    }

    .place {
        margin-top: 20px;
    }

    h1 {
        margin-top: 20px;
        /* Add margin to center the title vertically */
        display: flex;
        align-items: center;
        /* Center the title vertically */
    }
}